# Build & distribution
__pycache__/
build/
dist/
.venv/
*.egg-info/

# test
.pytest_cache/
.ruff_cache/

# secrets
.pypi_token

# editors & OS
.vscode/
*.DS_Store
.idea/

# do not commit images
i18n_cards/
